extends ../../layouts/LayoutTheme
include ../../mixins/dashboard/common
include ../../mixins/pages/members/MembersTable

append variables
  - 
    var breadcrumb = [
      {
        label: 'Pages',
        href: '#!'
      },
      {
        label: 'Members',
        href: '#!',
        active: true
      }
    ];



block content
  h2.text-bold.text-1100.mb-5 Members
  #members(data-list!={
    valueNames: ["customer", "email", "mobile_number", "city", "last_active","joined"],
    page: 10,
    pagination: true
  })
    .row.align-items-center.justify-content-between.g-3.mb-3
      .col.col-xl-4
        +Search({placeholder: 'Search orders', inputClass: ''}).w-100(style='width:35rem;')
      .col-auto
        .d-flex.align-items-center
          button.btn.btn-link.text-900.me-1
            span.fas.fa-cloud-download-alt.fs--1.me-2
            | Export
          button.btn.btn-primary
            span.fas.fa-plus.me-2
            | Add member
    .mx-n4.mx-lg-n6.px-4.px-lg-6.bg-white.border-y.border-300.mt-2.position-relative.top-1
      +MembersTable


