extends layouts/LayoutComponent

mixin Changelog(config)
  .card.shadow-none.border.border-300.my-3
    .card-header.border-bottom.border-300.bg-soft
      h5.mb-2
        code.fw-bold.fs-1=config.version
        |  - #{config.name}
      p.mb-0=config.date
    .card-body
      block

append variables
  -
    var pageHeader = {
      title: 'Changelog'
    }

block component
  +Changelog({
    version: 'v1.1.0',
    name:'Hermes',
    date: '17 April, 2022',
  })
    h6.mb-2 New
    ul.bullet-inside.ps-0
      li PAGE : 
        code public/apps/e-commerce/orders.html
      li PAGE : 
        code public/apps/e-commerce/products.html
      li PAGE : 
        code public/pages/pages/faq-accordion.html
      li PAGE : 
        code public/pages/pages/pricing.html
      li PAGE : 
        code public/pages/pages/notifications.html
      li PAGE : 
        code public/pages/pages/pricing.html
      li PAGE : 
        code public/modules/components/navs-and-tabs/navs.html
      li PAGE : 
        code public/modules/components/navs-and-tabs/navbar.html
      li PAGE : 
        code public/modules/components/navs-and-tabs/tabs.html

      li JS : 
        code src/scripts/theme/list.js

    h6.mb-2 Update
    ul.bullet-inside.ps-0
      li JS : 
        code webpack/webpack.config.js
      li SCSS : 
        code src/scss/theme/_badges.scss
      li SCSS : 
        code src/scss/theme/_mixed.scss
      li SCSS : 
        code src/scss/theme/_colors.scss
      li SCSS : 
        code src/scss/theme/_nav-tab.scss
      li SCSS : 
        code src/scss/theme/_pagination.scss
      li SCSS : 
        code src/scss/theme/_reboot.scss
      li SCSS : 
        code src/scss/theme/_search-box.scss
      li SCSS : 
        code src/scss/theme/_table.scss
      li SCSS : 
        code src/scss/theme/_variables.scss
      li SCSS : 
        code src/scss/theme/plugins/_list.scss
      li SCSS : 
        code src/scss/theme/root/_light.scss
      li JSON : 
        code package.json
    
    h6.mb-2 Fix
    ul.bullet-inside.ps-0.mb-0
      li Minor issues


  +Changelog({
    version: 'v1.0.1',
    name:'Theseus',
    date: '30 March, 2022',
  })
    h6.mb-2 Fix
    ul.bullet-inside.ps-0.mb-0
      li Minor issues

  +Changelog({
    version: 'v1.0.0',
    name:'Initial Release',
    date: '24 March, 2022'
  })
    p.mb-0 Nothing to see here.